<html> 
  <head> 
    <title>Django Page</title>
  <style type="text/css">
  div{
    width: 500px;
    height: 400px;
    background-color: yellow;
      }
  #from{
    font-size: 22px;
    
  }
  </style>
  </head> 

  <body>
    <div>
      <h1 style="color: blue;">发布会管理</h1> 
      <div id="from">
       <form method="post" action="/login_action/"> 
        <input  name="username" type="text" placeholder="username here" ><br> 
        <input name="password" type="password" placeholder="password here"><br> 
        {{ error }}<br> 
        <button id="btn" type="submit">登录</button> 
        {% csrf_token %} 
      </form>
    </div>
    </div>
  </body> 
</html> 